<div class="cart-additional-info">
<h3 class="cart-additional-info__title">Übrigens: 3% des Bestellwertes gehen an GREEN HEROES 2000</h3>
<p class="cart-additional-info__text">Mit deiner Bestellung tust du Gutes! Wir spenden 3% des Bestellwertes an GREEN HEROES. <a href="https://www.global2000.at/">Hier</a> erfährst du mehr über deren Arbeit.</p>
</div>
