<div class="product-contact-form-link__container">
    <p class="product-contact-form-link__text">Hast du Fragen zum Produkt? 
    <a href="/pages/kontakt" class="product-contact-form-link__link">Kontaktiere uns!</a></p>
</div>
