
<div class="keepoala section group page-width">
  
  <div id="keepoala_banner_cart" class="keepoala col span_1_of_4 center">
    <img alt="Keepoala" data-src="https://plugin.keepoala.com/static_files/assets/Keepoala.svg" src="https://plugin.keepoala.com/static_files/assets/Keepoala.svg" style="/*! max-width: 15%; */filter: ;" class="keepoala logo ">

  </div>
<div class="keepoala col span_2_of_4 text">
  <p class="message">Schütze mit deinem Einkauf die Umwelt und belohne dich dafür. <b>{{shop.name}}</b> nutzt Keepoala zur Vermeidung von Retouren und CO2.</p>  
</div>

  
    <div class="keepoala col span_1_of_4 center">
      <p class="message"><a id="keepoala-more-button" onclick="keepoala_banner_hide(this)">Erfahre mehr</a></p>

  </div>
  <div id="keepoala-banner-expand" style="display:none" class="keepoala col span_4_of_4">
  	
  	
  <p><b>Nachhaltiges reduzieren deiner Retouren</b>
  </p>
  <p>Keepoala hat es sich zur Aufgabe gemacht, die Zahl der Retouren und des damit verbundenen CO₂ Fußabdrucks gemeinsam mit dir und allen anderen Online Shopper*innen zu senken: indem ihr eure Bestellungen ganz einfach behaltet und wir euch dafür belohnen. </p>
  <p>Shoppe weiter wie gewohnt. Um deine erfassten Punkte und mögliche Prämien einzusehen, klicke einfach auf den Keepoala Link auf deiner Bestellbestätigung.</p>
  <p>Manche Retouren lassen sich einfach nicht vermeiden. Retournierte Einkäufe bedeuten bei uns keine Minuspunkte. Du kannst uns helfen, deine Retoure besser zu verstehen, indem du uns einige Fragen zu deinem Artikel beantwortest und erhältst dafür Keepoala Punkte.</p>
  <p>Um noch nachhaltiger zu werden und Retouren zu vermeiden, verarbeitet {{shop.name}} die Daten der Kunden mit Keepoala. Details findest du in unserer <a target="_new" href="{{shop.url}}/policies/privacy-policy">Datenschutzbestimmung</a>.</p>
  </div>
  
  
 </div>