
<div>


</div>

{% comment %} {% schema %}
  {
    "name": "List with Icon",
    "class": "list-with-icon",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Kleidung mieten geht ganz einfach bei MONTREET!"
      },
      {
        "type": "text",
        "id": "introduction",
        "label": "Einleitung",
        "default": "Du bist nicht regelmäßig klettern? Laufen gehst du nur für einen guten Zweck? Du möchtest unsere Jacken zuerst testen oder sie sind dir schlichtweg zu teuer? Wir haben eine Lösung für dich – bei MONTREET kannst du Kleidung mieten. Das sind deine Vorteile:"
      },
    ],
    "blocks": [
      {
        "type": "list-item",
        "name": "List Element"
      }
    ]
  }
{% endschema %} {% endcomment %}
