<div class="page-full page-content page-width" style="padding-bottom: 0">
  <header class="section-header">
    <h1 class="section-header__title">
      {{ page.title | escape }}
    </h1>
  </header>
  <hr class="hr hr--margin-bottom-big">
</div>

{% schema %}
{
  "name": "Page (full width)",
  "tag": "section"
}
{% endschema %}
