{% style %}
.press__container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 30px; 
}

@media (min-width: 600px) {
  .press__container {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 800px) {
  .press__container {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.press__container .grid__item {
  float: unset;
  padding-left: 0;
}

{% endstyle %}

<div class="press__container page-width">
  {%- for block in section.blocks -%}
  
  {% unless forloop.index > section.settings.max_articles %}
  {%- render 'page-block-press-article', article: block.settings -%}
  {% endunless %}
  
  {%- endfor -%}
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
  {
   "name": "Presse-Seite",
   "settings": [
     {
        "type": "text",
        "id": "title",
        "label": "Seiten-Überschrift",
        "default": "Presse"
      },
      {
        "type": "range",
        "id": "max_articles",
        "min": 12,
        "max": 90,
        "step": 3,
        "label": "Maximale Anzahl Artikel",
        "default": 90
      }
   ],
    "blocks": [
      {
        "type": "press-article",
        "name": "Artikel",
        "settings": [
          {
            "type": "url",
            "id": "url",
            "label": "URL (Link) zum Artikel"
          },
          {
            "type": "text",
            "id": "date",
            "label": "Erscheinungsdatum"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Titel des Artikels"
          },
          {
            "type": "image_picker",
            "id": "title_image",
            "label": "Vorschaubild"
          },
          {
            "type": "select",
            "id": "focal_point",
            "label": "Bildfokus",
            "info": "Stelle ein, welcher Teil des Bildes im Fokus liegen soll!",
            "default": "top",
            "options": [
              {
                "value": "top",
                "label": "Oben"
              },
              {
                "value": "center",
                "label": "Mitte"
              },
              {
                "value": "bottom",
                "label": "Unten"
              },
              {
                "value": "left",
                "label": "Links"
              },
              {
                "value": "right",
                "label": "Rechts"
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
