.popup {
  display: block;
  flex-flow: row nowrap;

  &__text-container {
    text-align: left;

    @media (min-width: 768px) {
      padding-left: 30px;
      margin-left: 50%;
    }
  }

  &__image-container {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;

    @media (max-width: 768px) {
      display: none;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.newsletter {
  max-width: 680px;
}

.modal .newsletter .h1 {
  margin-bottom: 20px;
}

.modal .newsletter p {
  margin-bottom: 10px;
}

.modal .popup__disclaimer p {
  font-size: 0.85em;
  margin-bottom: 1em;

  @media (min-width: 768px) {
    margin-top: 2.5em;
    margin-bottom: 0;
  }
}

.modal .newsletter .popup__image-container {
  margin-bottom: 0;
}
