.title-image {
	&__text-container-outer {
		display: flex;
		z-index: 1;
		width: 100%;
		height: 100%;
		justify-content: center;

		& .animation-cropper {
			align-self: center;
		}

		// Layout Title Image ändert sich bei 590px
		@include breakpoint(title-image) {
			position: absolute;
		}
	}

	&__text-container-inner {
		text-align: center;
		padding: 1em;
		width: auto;
		background-color: none;
		color: $dark-blue;

		// Layout Title Image ändert sich bei 590px
		@include breakpoint(title-image) {
			color: $white;
		}

		@include breakpoint(md) {
			padding: 2.5em;
		}
	}

	&__title {
		@include font-chaney;

		word-wrap: break-word;

		@include breakpoint(title-image) {
			margin-bottom: 1em;
		}
	}

	@include breakpoint(title-image-max) {
		&__title {
			color: $dark-blue;
			font-size: 1.7rem;
			margin-top: 0.5em;
		}

		& .background-media-text {
			background: none;
		}

		& .hr {
			display: none;
		}
	}
}
